/* Style Global */

:root {
    --firsttext-color: #212121;
    --secondtext-color: #757575;

    --border-jobs: #EEEEEE;
    --boreder-header: #ececec;

    --background-footer: #2f303a;
    --background-team: #F5F4FA;

    --social: #afb1b8;

    --hover-color: #2196F3;
    --black: #000;
    --white: #fff;
}

* {
    box-sizing: border-box;
}

/* *:hover, *:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
}

ul,h1,
h2,
h3,
h4,h5,h6,
p {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container_center {
width: 1200px;
margin: auto;
padding-left: 15px;
padding-right: 15px;
}

.link, .link:hover, .link:focus {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Style Header */

header {
    border-bottom: 1px solid var(--boreder-header);
}

.header-nav{
    display: flex;
    align-items: center;
    text-align: center;
}

.page-logo {
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.2;
    color: var(--black);
}

.page-logo:hover,
.page-logo:focus {
    color: var(--black);
}

.page-logo span {
    color: var(--hover-color);
}

.navigation {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 93px;
}

.nav-link {
    padding: 30px 0;
    color: var(--firsttext-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.navigation-item:nth-child(2) {
    padding:0 50px;
}

.current .nav-link::after {
    position: relative;
    display: block;
    top: 34px;
    justify-content: center;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
}

header a:hover,
header a:focus,
.active, .current {
    color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.nav-contact {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.15;
    font-weight: 500;
    color: var(--secondtext-color);
}

.contact-item-header:nth-child(1) {
    padding-right: 50px;
}

.nav-contact:hover,
.nav-contact:focus {
    color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

/* Style Footer */

footer {
    background: var(--background-footer);
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list {
    display: flex;
    align-items: baseline;
}

.footer-section-address .page-logo {
    color: var(--white);
}

.footer-section-address .page-logo:hover,
.footer-section-address .page-logo:focus {
    color: var(--white);
}

.contact-list-footer {
    color: var(--white);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    font-style: normal;

    margin-top: 20px;
}

.contact-item-footer:nth-child(2) {
    padding: 9px 0;
}

.contact-link-footer {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);;
}

.contact-link-footer:hover,
.contact-link-footer:focus {
    color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section-join {
    margin-left: 70px;
}

.footer-section-join-topic {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-section-social {
    margin-top: 20px;
    align-items: center;

    display: flex;
    justify-content: space-between;
}

.footer-section-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.1);


    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.footer-section-social-link:nth-child(n+2) {
    margin-left: 10px;
}

.footer-section-social-link:hover,
.footer-section-social-link:focus {
    background-color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section-social-icon {
    fill: currentColor;
}

.footer-section-subscribe {
    margin-left: auto;
}

.footer-section-subscribe-topic {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-section-subscribe-form {
    margin-top: 20px;
    align-items: center;
    
    display: flex;
}

.footer-section-subscribe-input {
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color: var(--background-footer);
    color: var(--secondtext-color);
}

.footer-section-subscribe-button {
    max-width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
    
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;

    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    cursor: pointer;

    display: flex;
    align-items: center;
    text-align: center;
}

.footer-section-subscribe-button svg {
    fill: var(--white);
    margin-left: 10px;
}



/* styles index */

/* Section Main */

.main {
    text-align: center;
    background: var(--background-footer);

    padding-top: 200px;
    padding-bottom: 200px;

    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/hero-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    max-width: 1600px;
    margin:0 auto;
}

.main-topic {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.talk-button {
    height: 50px;
    width: 200px;

    margin-top: 30px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white);
    
    background-color: var(--hover-color);
    border-radius: 4px;
    border-color: transparent;
}

.talk-button {
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.talk-button:hover{
    background-color: #188CE8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section Features */

.features {
    text-align: center;

    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-item:nth-child(n+2) {
    margin-left: 30px;
}

.features-item-block {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 120px;
    background-color: var(--background-team);
    border-radius: 4px;
    margin-bottom: 30px;
}

.features-item-topic {
    margin-bottom: 10px;

    color: var(--firsttext-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
}

.features-item-text {
    color: var(--secondtext-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
}

/* Section Work */

.work {
    padding-bottom: 94px;
}

.work-topic {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.work-item {
    position: relative;
    width:370px;
    margin:0 auto;
}

.work-item-label {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.work-item:nth-child(n+2) {
    margin-left: auto;
}

/* Section Team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background: var(--background-team);
}

.team-topic {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-list {
    display: flex;
}

.team-item {
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(n+2) {
    margin-left: auto;
}

.team-container-item {
    padding: 30px 0 30px 0;
}

.team-item-topic {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--firsttext-color);
}

.team-item-text {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondtext-color);
}

.team-item-social {
    margin-top: 16px;
    padding: 0 32px;
    align-items: center;

    display: flex;
    justify-content: space-between;
}

.team-item-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--social);
    

    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.team-item-social-link:hover,
.team-item-social-link:focus {
    background-color: var(--hover-color);
    color: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-social-icon {
    fill: currentColor;
}

/* styles company */

.company {
    padding-top: 94px;
    padding-bottom: 94px;
}

.company-topic {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--firsttext-color);
}

.company-list {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-item-link {
    width: 170px;
    height: 92px;
    border: 1px solid var(--social);
    border-radius: 4px;
    color: var(--social);

    display: flex;
    justify-content: center;
    align-items: center;

}

.company-item-link:hover,
.company-item-link:focus {
    border: 1px solid var(--hover-color);
    color: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-item-icon {
    fill: currentColor;
}

/* style modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 10;
}

.close-btn {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    fill: var(--black);
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    fill: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-topic {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    
    color: var(--firsttext-color);
}

.form-modal {
    text-align: center;
}

.form-field {
    position: relative;
    display: block;
    width: 100%;

    margin-bottom: 10px;
}

.form-field:nth-child(9) {
    margin-bottom: 0;
}

.form-label-text {
    display: flex;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: var(--secondtext-color);
    padding-bottom: 4px;
}

.form-input {
    width: 100%;
    min-height: 40px;
    margin: 0;
    padding: 10px 20px;
    padding-left: 40px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.comment-input {
    height: 120px;
    padding: 12px 16px;
    outline: none;
    resize: none;
}

.form-field-icon {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    display: inline-block;
    width: 20px;
    height: 20px;
}

.form-input:focus-visible {
    outline: none;
    border: 1px solid var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within>.form-field-icon {
    fill: var(--hover-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within>.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    transform: translateY(-50px);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.label-text-checkbox {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    color: var(--secondtext-color)
}

.label-text-checkbox a {
    text-decoration-line: underline;
    color: var(--hover-color);
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 5px;

    border: 2px solid var(--black);
    border-radius: 2px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.icon-checkbox {
    border-color: transparent;
    background-color: var(--hover-color);
    background-image: url('../img/full-check.svg');
    background-size: contain;
    background-origin: border-box;
}

.submit {
    width: 200px;
    height: 50px;
    margin-top: 30px;

    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.submit:hover,
.submit:focus {
    background: #188CE8;
    border-color: transparent;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

/* styles portfolio */

.section_filter_buttons {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}

.filter-item-btn {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
    background: var(--background-team);
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    cursor: pointer;
}

.filter-btn:nth-child(n+2) {
    margin-left: 8px;
}

.filter-btn:hover,
.filter-btn:focus,
.btn-active {
    background: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list_container {
    margin: 50px -15px -30px -15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.jobs_container {
    display: none;
    box-sizing: border-box;
    margin: 0 15px 30px 15px;
}

.list-show {
    display: block;
}

.jobs-container-img {
    width: 370px;
    height: 294px;
}

.jobs-item-container {
    position: relative;
    overflow: hidden;
}

.jobs-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-overlay-text {
    color: var(--white);
    margin: 0;
    text-align: left;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 49px 45px 49px 24px;
}

.jobs-container-card {
    padding: 20px 24px;
    text-align: left;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.jobs-link {
    display: block;
}

.jobs-container-topic {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.06em;
    color: var(--firsttext-color);
}

.jobs-container-text {
    padding-top: 4px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--secondtext-color);
}

.jobs-link:hover, .jobs-link:focus {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.jobs-link:hover .jobs-container-overlay,
.jobs-link:focus .jobs-container-overlay {
    transform: translatey(0);
}

